footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white; 
  padding: 10px 0; 
  text-align: center; 
  border-top: 1px solid #ccc; 
}

 footer a {
      text-decoration: none;
      color: #007bff;
    }



/* Media queries dla średnich ekranów */
@media (max-width: 768px) {
  footer {
    padding: 15px 0; 
    position: relative;
  }
}


@media (max-width: 576px) {
  footer {
    padding: 20px 0; 
    position: relative;
  }
}





