.container {
  padding: 20px;
}

.content {
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* Ustaw tło głównej treści */
  padding: 20px;
  /* Dodaj wewnętrzne wypełnienie głównej treści */
  border-radius: 10px;
  /* Dodaj zaokrąglenie rogów */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Dodaj cień */
}

@media (max-width: 768px) {
  .logo {
    width: 50%;
  }

  .company-info {
    text-align: center;
    /* Centrowanie tekstu na mniejszych ekranach */
  }

  .company-name {
    font-size: 1.5rem;
    /* Dostosuj rozmiar liter na mniejszych ekranach */
  }

  .company-motto {
    font-size: 0.5rem;
    /* Dostosuj rozmiar liter na mniejszych ekranach */
  }
}

@media (min-width: 992px) {
  .content {
    width: 50%;
  }
}
